<!--#region-->
<p class="title">Data Binding</p>
<p>
  Hola, {{ nombreEstudiante }}
</p>

<p class="title">Property Binding</p>
<p>
  Mi edad es de <span>{{edadEstudiante}}</span>
</p>

<p class="title">Event Binding</p>
<button (click)="mostrarHora($event)">
  Mostrar Hora
</button>
<p>
  {{ horaActual }}
</p>

<p class="title">Two Way Data Binding</p>
<div class="form-basic">
  <div class="input-form">
    <label>Nombre</label>
    <input type="text"
           placeholder="Nombre"
           [(ngModel)]="nombreEstudiante">
  </div>
  <div class="input-form">
    <label>Edad</label>
    <input type="text"
           placeholder="Edad"
           [(ngModel)]="edadEstudiante">
  </div>
</div>

<!--#endregion-->

<p class="title">Directivas NgIf, Else , NgFor</p>
<div>
  <p class="sub-title">NgIf - Else</p>
  <p *ngIf="edadEstudiante >= 18; else NoMayorEdad">
    El estudiante es <b>MAYOR</b> de edad.
  </p>
  <ng-template #NoMayorEdad>
    El estudiante es <b>MENOR</b> de edad.
  </ng-template>
</div>

<div>
  <p class="sub-title">
    NgFor
  </p>
  <p *ngFor="let color of colors">
    {{ color.redSocial }}
  </p>
</div>


<div>
  <p class="sub-title">
    NgFor - NgStyle
  </p>
  <p *ngFor="let color of colors"
     [ngStyle]="{ 'background-color': color.color, 'color': '#ffffff'}"
     class="content-social">
    {{ color.redSocial }}
  </p>
</div>

<div>
  <p class="sub-title">NgFor - NgClass</p>
  <p *ngFor="let color of colors; let idx = index"
     [ngClass]="{ 'text-social': (idx  + 1 ) % 2 == 0 }"
     class="content-social">
    {{color.redSocial}}
  </p>
</div>

