<div class="container-fluid">


  <p class="title mt-3">
    Template Variable
  </p>

  <input #inputPhone
         type="text"
         class="form-control mb-2"
         placeholder="phone"/>
  <button #btnCallPhone
          class="btn btn-primary me-2"
          (click)="mostrarConsola(inputPhone.value)">
    Call Phone
  </button>
  <button class="btn btn-danger me-3"
          (click)="btnCallPhone.click()">
    Click Button
  </button>


  <p class="title mt-3">
    Componente Cronometro
  </p>

  <button class="btn btn-danger me-3"
          (click)="iniciarCrono()">
    Iniciar Cronometro Padre
  </button>

  <app-cronometro #cronometroFirst
                  [minuto]="10"
                  [segundo]="5"
                  (evtHistorial)="addMarcador($event)"
  ></app-cronometro>
  <app-cronometro #cronometroSecond
                  [minuto]="5"
                  [segundo]="25"
                  (evtHistorial)="addMarcador($event)"
  ></app-cronometro>
  <app-cronometro #cronometro
                  [minuto]="6"
                  [segundo]="12"
                  (evtHistorial)="addMarcador($event)"
  ></app-cronometro>
  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let marcador of listMarcadores">
      {{ marcador }}
    </li>
  </ul>


</div>

<p class="title">
  Componente Acumulador
</p>

<app-acumulador [contador]=" 150 "
                nombre="Acm 1"
                [acm]="3"
                (evtClick)="insertLogAcumulador($event)"
></app-acumulador>

<app-acumulador [contador]=" 150 "
                nombre="Acm 2"
                [acm]="3"
                (evtClick)="insertLogAcumulador($event)"
></app-acumulador>

<ul class="list-group">
  <il class="list-group-item"
      *ngFor="let log of logAcumulador">
    {{ log }}
  </il>
</ul>


<!--#region-->
<p class="title">Data Binding</p>
<p>
  Hola, {{ nombreEstudiante }}
</p>

<p class="title">Property Binding</p>
<p>
  Mi edad es de <span>{{edadEstudiante}}</span>
</p>

<p class="title">Event Binding</p>
<button (click)="mostrarHora($event)">
  Mostrar Hora
</button>
<p>
  {{ horaActual }}
</p>

<p class="title">Two Way Data Binding</p>
<div class="form-basic">
  <div class="input-form">
    <label>Nombre</label>
    <input type="text"
           placeholder="Nombre"
           [(ngModel)]="nombreEstudiante">
  </div>
  <div class="input-form">
    <label>Edad</label>
    <input type="text"
           placeholder="Edad"
           [(ngModel)]="edadEstudiante">
  </div>
</div>

<p class="title">Directivas NgIf, Else , NgFor</p>
<div>
  <p class="sub-title">NgIf - Else</p>
  <p *ngIf="edadEstudiante >= 18; else NoMayorEdad">
    El estudiante es <b>MAYOR</b> de edad.
  </p>
  <ng-template #NoMayorEdad>
    El estudiante es <b>MENOR</b> de edad.
  </ng-template>
</div>

<div>
  <p class="sub-title">
    NgFor
  </p>
  <p *ngFor="let color of colors">
    {{ color.redSocial }}
  </p>
</div>


<div>
  <p class="sub-title">
    NgFor - NgStyle
  </p>
  <p *ngFor="let color of colors"
     [ngStyle]="{ 'background-color': color.color, 'color': '#ffffff'}"
     class="content-social">
    {{ color.redSocial }}
  </p>
</div>

<div>
  <p class="sub-title">NgFor - NgClass</p>
  <p *ngFor="let color of colors; let idx = index"
     [ngClass]="{ 'text-social': (idx  + 1 ) % 2 == 0 }"
     class="content-social">
    {{color.redSocial}}
  </p>
</div>
<!--#endregion-->

