* {
  font-size: 20px;
}

.title {
  padding: 10px;
  color: #fff;
  font-weight: bold;
  background-color: darkred;
}

.sub-title {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: darkred;
}

.form-basic {
  display: flex;
  flex-flow: column nowrap;

  .input-form {
    margin-top: 15px;
    width: 250px;
    display: flex;
    flex-flow: column nowrap;

    label {
      font-weight: bold;
    }

  }
}

.content-social {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.text-social {
  font-style: italic;
  background-color: darkviolet;
  color: #ffffff;
}
